body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.incorrect {
  position: relative;
  top: 4px;
  color: red;
  font-weight: 900;
}

.correct {
  position: relative;
  top: 4px;
  color: green;
  font-weight: 900;
}

.center {
  width: 224px;
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-4 {
  margin-top: 2px !important;
}

.table-title {
  background-color: #0782bd;
}

.answer {
  position: absolute;
  font-size: 12px;
  bottom: 2px;
}

table td {
  position: relative;
}